@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components{
    .heroButton {
        @apply px-6 py-2 border border-[#242424] rounded-full uppercase text-xs tracking-widest
         text-gray-500
          transition-all hover:border-[#aeadfd]/40 hover:text-[#dfc2fb]/40
    }

    .contactInput {
        @apply outline-none bg-slate-400/10 rounded-sm border-b px-6 py-4 border-[#242424]
        text-gray-500 placeholder-gray-500 transition-all focus:border-[#aeadfd]/40
        focus:text-[#dfc2fb]/40 hover:border-[#dfc2fb]/40
    }
}

@layer base{
 
  h1 {
    background-image: linear-gradient(#aeadfd, #aeaefd);
    background-repeat: no-repeat;
    background-position: 0% 100%;
    background-size: 100% 2px;
    transition: background-size .5s, background-position .3s ease-in .5s;
  }
  
  h1:hover {
    background-size: 100% 100%;
    background-position: 0% 0%;
    transition: background-position .5s, background-size .3s ease-in .5s;
  }

}